@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #cfcfcf;
    font-family: 'Roboto', sans-serif;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
h3,p {
    margin: 0;
}
.width-100 {
    width: 100%;
}
.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}
.height-card-data {
    height: 2.7rem !important;
}
.width-card-data {
    width: 16rem;
}
.data-card-radius {
    border-radius: 5px 5px 0 0;
}

.row {
    display: inline-flex !important;
}
.space-between-items {
    justify-content: space-between !important;
}
.space-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
} 
.justify-end {
    justify-content: flex-end;
}
.align-items-center {
    align-items: center;
}
































