@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #cfcfcf;
    font-family: 'Roboto', sans-serif;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
h3, p {
    margin: 0;
}
p {
    color: #555555;
    font-size: 10pt;
}
/* Global classes */
.space-card {
    margin: 2% 0;
}
.gray {
    background: #5B7682;
}
.dark-gray {
    background: #546D78;
}

.purple {
    background: #9C27B0;
}
.dark-purple {
    background: #9325A6;
}
.red {
    background: #E1453A;
}
.dark-red {
    background: #D44137;
}
.green {
    background: #8BC34B;
}
.dark-green {
    background: #82B847;
}
.blue {
    background: #04B1C8;
}
.dark-blue {
    background: #049FB4;
}
.brown {
    background: #795548;
}
.yellow {
    background: #FFEB3B;
}






























