@media (max-width: 814px) {
    .header-dash nav ul {
        display: block;
        width: 100%;
        text-align: center;
    }
    .card {
        width: 94vw;
    }
    .sent-commands-graphic,
    .pizza-graphic {
        width: 100% !important;
        height: 15rem;
        margin-top: 1rem;
    }
    .last-commands, 
    .alerts {
        width: 100%;
    }
    .last-commands {
        margin-bottom: 5%;
    }
    
}
