.header-dash {
    background-color: #3AA99E;
    padding: .9%;
}
.header-dash nav ul{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.header-dash nav ul .navigation-settings {
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.user-logged li {
    color: white;
}
.navigation-settings li a{
    color: white;
}
.navigation-settings li a:hover i{
    transform: rotate(360deg);
    transition: .6s;
}
.navigation-settings li a i{
    margin-right: 10px;
}

.content {
    margin: 0 3%;
}

.graphics,
.tables-section {
    margin-bottom: .9%;
}
.data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    position: relative;
    height: 3rem;
    width: 15rem;
}

.animation-scale {
    transition: .6s;
    margin: 2% 0;
    height: 5rem;
}
.animation-scale::hover {
    transform: scale(.9) !important;
    transition: .6s;
} 
.card .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    border-radius: 5px 5px 0 0;
}

.card .card-header .card-data {
    display: flex;
    align-items: center;
    margin-right: 3%;
}

.card-header .card-data i {
    margin-right: 10%;
}
.single {
    width: 45% !important;
    justify-content: flex-end;
}

.card-header .card-data i,
.card-header .card-data p {
    color: white
}
.card-header .card-data p {
    font-size: 14pt;
}
.card-header i {
    margin-left: 10px;
    color: rgba(0, 0, 0, .5);
}
.card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.card-footer {
    height: 2rem;
    border-radius: 0 0 5px 5px;
}
.card-footer p {
    margin-right: 10px;
    color: white;
    font-size: 9pt;
}


.graphics {
    width: 100%;
    display: flex;
}

.graphics-data {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pizza-graphic {
    display: grid;
    background: white;
    grid-template-columns: 5%  70% 25%;
    width: 49%;
    border-radius: 6px;
}

.information-pizza {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px 0 0 6px;
    
}
.information-pizza p{
    transform: rotate(270deg);
    color: white;
    text-transform: uppercase;
    font-size: 15pt;
}

.graphic {
    margin: auto;
}

.legends {
    margin: auto;
    width: 100%;
}
.legends ul li {
    display: flex;
    align-items: center;
}
.legends ul li span {
    font-size: 13pt;
}
.legends ul li .squad {
    width: 8px;
    height: 8px;
    padding: 2%;
    margin-right: 5px;
}

.sent-commands-graphic {
    display: grid;
    background: white;
    grid-template-columns: 50px  2fr;
    width: 49%;
    border-radius: 6px;
}

.information-line {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px 0 0 6px;
}

.information-line p {
    transform: rotate(270deg);
    color: white;
    text-transform: uppercase;
    font-size: 15pt;
}


.tables {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.last-commands, 
.alerts {
    display: grid;
    grid-template-rows: 7% 93%;
    background: white ;
    border-radius: 1%;
    width: 49%;
    height: 15rem;
}

.last-commands .card-header,
.alerts .card-header {
    padding: 10px;
    display: flex !important;
    justify-content: space-between;
    text-transform: uppercase;
}

.card-header h5 {
    color: white
}

.last-commands .card-body,
.alerts .card-body {
    max-height: 18rem;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 3%;
    height: 14rem;
    background: white;
    padding: 0 10px;
}
.last-commands .card-body ul,
.alerts .card-body ul {
    padding: 0;
}
.last-commands .card-body ul li,
.alerts .card-body ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid darkgray;
}

.last-commands .card-body ul li .icon_user,
.alerts .card-body ul li .icon_user {
    margin-right: 3%;
    height: 5%;
    width: 5%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.alerts .card-body ul li .data_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




